In [1]:
import pandas as pd

In [17]:
# lendo o dataset
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [18]:
# primeiras 10 linhas
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [32]:
# número de linhas
chipo.shape[0]

4622

In [33]:
# número de colunas
chipo.shape[1]

5

In [34]:
for column in chipo.columns:
    print(column, end=" ")

order_id quantity item_name choice_description item_price

In [35]:
# índices do dataset
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [36]:
# item mais pedido
most_ordered = chipo.groupby('item_name').sum()
most_ordered = most_ordered.sort_values('quantity', ascending = False)
most_ordered.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [37]:
# quantidade to item mais pedido
most_ordered.head(1).values[0][1]

761

In [38]:
# item mais pedido na coluna choice_description
choice = chipo.groupby('choice_description').sum()
choice = choice.sort_values('quantity', ascending = False)
choice.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [39]:
# quantidade total de itens pedidos
total_items = chipo.quantity.sum()
total_items

4972

In [45]:
# checar o tipo de dado do preço
chipo.item_price.dtype

dtype('O')

In [50]:
# converter os preços em float
convert = lambda x : float(x[1:-1])
chipo.item_price = chipo.item_price.apply(convert)

In [51]:
chipo.item_price.dtype

dtype('float64')

In [55]:
# receita total
revenue = (chipo.quantity * chipo.item_price).sum()
print(f'A receita foi de ${revenue}')

A receita foi de $39237.02

In [72]:
# número total de pedidos
orders = chipo.order_id.value_counts().count()
orders

1834

In [92]:
# receita média por pedido
chipo['revenue'] = chipo.quantity * chipo.item_price
chipo.groupby('order_id').sum().mean()['revenue']

21.39423118865867

In [84]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25

In [89]:
# Quantos itens diferentes foram vendidos
items = chipo.value_counts('item_name')
items.count()

50