In [2]:
import pandas

In [3]:
chipo = pandas.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', '\t')

In [4]:
# dez primeiros itens
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
# transformar a coluna item_price em float
prices = []
for price in chipo.item_price:
    prices.append(float(price[1:-1]))
# atribuindo a lista nova a coluna item_price
chipo.item_price = prices
# deletar valores duplicados 
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [9]:
# selecionar apenas valores com a quantidade igual a 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [18]:
# printar a coluna item_name e item_price
price_per_item = chipo_one_prod[['item_name','item_price']]
price_per_item

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
...                                     ...         ...
4602                       Barbacoa Burrito        9.25
4607                          Steak Burrito       11.75
4610                          Steak Burrito       11.75
4611                         Veggie Burrito       11.25
4612                          Carnitas Bowl        9.25

[1806 rows x 2 columns]

In [22]:
# ordenar pelo nome do item
price_per_item.sort_values(by = ['item_name'])

              item_name  item_price
721   6 Pack Soft Drink        6.49
341   6 Pack Soft Drink        6.49
357   6 Pack Soft Drink        6.49
298   6 Pack Soft Drink        6.49
3141  6 Pack Soft Drink        6.49
...                 ...         ...
1395  Veggie Soft Tacos        8.49
2384  Veggie Soft Tacos        8.75
1699  Veggie Soft Tacos       11.25
738   Veggie Soft Tacos       11.25
781   Veggie Soft Tacos        8.75

[1806 rows x 2 columns]

In [11]:
# itens com a quantidade igual a 1
chipo[(chipo.quantity == 1)]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [43]:
# quantidade do item mais caro pedido
more_expensive = chipo[['item_price', 'quantity']].sort_values(by = ['item_price'], ascending = False)
more_expensive.head(1)

      item_price  quantity
3598       44.25        15

In [58]:
veggie = chipo[chipo.item_name == 'Veggie Salad Bowl']
veggie.shape[0]

18

In [62]:
# número de vezes em que alguém pediu mais de uma Canned Soda
canned_soda = chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity >= 2)]
canned_soda.shape[0]

20